@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans+Condensed:300|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Notable|Roboto+Condensed:300i&display=swap');
html {
    scroll-behavior: smooth;
}

a {
    color: black;
}

a:link {
    text-decoration-line: none;
}

b {
    font-size: 1.5em;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    font-family: Roboto+Condensed, sans-serif;
}

.jumbotron {
    text-align: center;
    background-color: rgba(63, 63, 58, 0);
}

.jumbotron-home-page {
    margin-top: 160px;
    margin-bottom: 130px;
}

.first_h2,
.first_h1 {
    font-family: Notable, sans-serif;
    padding-bottom: 10px;
    color: white;
}

.rest_h2 {
    font-family: Notable, sans-serif;
    padding-bottom: 10px;
}

.text-first-page {
    color: white;
    font-family: open+sans+condensed, sans-serif;
}

.bck-ground {
    background-image: linear-gradient( rgba(78, 74, 74, 0.479), rgba(78, 74, 74, 0.479)), url("../fotos/1251823-global-warming-background.jpg");
    width: auto;
    height: auto;
    background-attachment: fixed;
}

.page {
    text-align: center;
}

#monthly_chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-75deg);
}

.text_after_graph {
    margin-top: 50px;
    padding-bottom: 50px;
    font-family: Roboto+Condensed, sans-serif;
}


/* Start of Read more buttons */

#more {
    display: none;
    background: none;
}


/* END of Read more buttons */