@import url('https://fonts.googleapis.com/css?family=Monoton|Open+Sans+Condensed:300|Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Notable|Roboto+Condensed:300i&display=swap');
html {
    scroll-behavior: smooth;
}

.container {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    font-family: Roboto+Condensed, sans-serif;
}

.jumbotron {
    text-align: center;
    background-color: rgba(63, 63, 58, 0);
}

.jumbobro-home-page {
    margin-top: 280px;
    margin-bottom: 160px;
}

.first_h2,
.first_h1 {
    font-family: Notable, sans-serif;
    padding-bottom: 10px;
    color: white;
}

.rest_h2 {
    font-family: Notable, sans-serif;
    padding-bottom: 10px;
}

.text-first-page {
    color: white;
    font-family: open+sans+condensed, sans-serif;
}

.bck-ground {
    background-image: linear-gradient( rgba(78, 74, 74, 0.479), rgba(78, 74, 74, 0.479)), url("../fotos/1251823-global-warming-background.jpg");
    width: auto;
    height: auto;
    background-attachment: fixed;
}

.page {
    text-align: center;
}

#monthly_chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-75deg);
}

.first_h1:hover {
    color: rgb(136, 99, 99);
    font-size: 50px;
}

.text_after_graph {
    margin-top: 50px;
    padding-bottom: 50px;
    font-family: Roboto+Condensed, sans-serif;
}


/* back to the top button */

#button {
    display: inline-block;
    background-color: #FF9800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

#button:hover {
    cursor: pointer;
    background-color: #333;
}

#button:active {
    background-color: #555;
}

#button.show {
    opacity: 1;
    visibility: visible;
}